/* 
    RESET CSS 
    */
@import "../utilities/variables";

*,
*:before,
*:after {
  box-sizing: inherit;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Imagen responsive */
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
ul[class],
ol[class] {
  list-style: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: $color-main;
  accent-color: $verde-gradient;
}
