@import "../utilities/variables";

/* Importamos fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
/* 
  Variables fuente
   */
$body-font: "Open Sans", sans-serif;
$heading-font: "Raleway", sans-serif;
/* 
  Body
   */
body {
  font-family: $body-font;
}

/* 
  Menu
   */

.nav {
  font-family: $heading-font;
  &__link {
    font-weight: bold;
  }
}

.nav {
  font-family: $heading-font;
  &__link {
    font-weight: bold;
  }
}

/* 
  Header
   */
.header {
  &__title {
    font-size: 1.7rem;
    font-family: $heading-font;
    &--slogan {
      font-size: 1.2rem;
    }
  }
  &__paragraph {
    font-size: 1.1rem;
    font-weight: 100;
  }
}

/* 
  About
   */

.about {
  &__title {
    font-family: $heading-font;
  }
  &__paragraph {
    line-height: 1.5;
  }
}
/* 
  Join
   */

.join {
  &__title {
    font-family: $heading-font;
  }
  &__input {
    font: inherit;
    &--submit {
      font-family: $heading-font;
      font-weight: 700;
    }
  }
}
/* 
    Footer
     */

.footer {
  &__link {
    font-family: $heading-font;
  }
}

/* 
  Formulario
   */

.form {
  &__legend {
    font-family: $heading-font;
    font-size: 1.7rem;
    font-weight: bold;
  }
  &__label {
    font-family: $heading-font;
    font-size: 1.1rem;
    font-weight: bold;
  }
  &__input{
    font-size:inherit;
  }
}

.footer-form {
  &__paragraph {
    font-size: 0.9rem;
    text-align: center;
  }
}
